<app-header></app-header>
<div class="homeContainer">

    <h1>Time tracking</h1>

    <div class="infokachel kachel"><span>Record the working time of several work steps and get the total time. The times
            are saved locally. The time recording runs even if the window is closed and you come back later.</span>
    </div>

    <div class="gridNewTask">
        <span>Add new task:</span>
        <form [formGroup]="newTaskForm" class="kachel">
            <div class="inputfeld" id="newTask">
                <input #newTaskInput formControlName="newTask" type="text" id="newTaskInput" spellcheck="false"
                    placeholder="&nbsp;">
                <label class="placeholder" for="newTaskInput">task name</label>
            </div>
            <button (click)="addTask()" [disabled]="isButtonDisabled">&plus;</button>
        </form>
    </div>

    <div class="statistic">
        <div class="totalTime Kachel"><span>Total time</span><span class="timeSpan">{{ts.getTotalTime()}}</span></div>
        <button (click)="print()">Print</button>
        <button (click)="deleteAllTasks()">Delete all</button>
    </div>

    <div class="currentTaskGridDiv">
        <span *ngIf="ts.getCurrentTask()">Current task:</span>
        <div *ngIf="ts.getCurrentTask()" class="currentTaskDiv kachel">
            <span>{{ts.getCurrentTask()?.name}}</span>
            <button *ngIf="!ts.getCurrentTask()?.isStopped" (click)="stopCounter()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <button *ngIf="ts.getCurrentTask()?.isStopped" (click)="startCounter()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <span class="timeSpan"
                [class.isStopped]="ts.getCurrentTask()?.isStopped">{{ts.getCurrentTask()?.time?.value}}</span>
        </div>
    </div>

    <div class="gridTasks">
        <div *ngIf="ts.getTasks().length > 0" class="tasksDiv kachel">
            <table>
                <thead>
                    <th>Task</th>
                    <th>Time</th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let task of ts.getTasks()">
                        <tr [class.clicked]="task.accordionOpen">
                            <td class="tdTaskName">
                                <div class="tdDiv">
                                    <span [hidden]="task.nameEditMode"
                                        (click)="editModeTaskName(task, $event.currentTarget)">{{task.name}}</span>
                                    <div class="editDiv" *ngIf="task.nameEditMode">
                                        <div class="inputfeld">
                                            <input type="text" id="editTaskName" value="{{task.name}}"
                                                #editTaskNameInput
                                                (keyup.enter)="editTaskName(task, editTaskNameInput.value)">
                                            <label for="editTaskName"></label>
                                        </div>
                                        <button *ngIf="task.nameEditMode"
                                            (click)="editTaskName(task, editTaskNameInput.value)" class="editBtn">
                                            <fa-icon [icon]="faCheck"></fa-icon>
                                        </button>
                                    </div>
                                    <button (click)="deleteTask(task)" class="deleteBtn" title="delete task">
                                        <fa-icon [icon]="faXmark"></fa-icon>
                                    </button>
                                </div>
                            </td>
                            <td class="tdTime">
                                <div class="tdTimeDiv">
                                    <button *ngIf="task.isStopped" class="btnicon" title="continue task"
                                        (click)="continueTask(task)">
                                        <fa-icon [icon]="faPlay"></fa-icon>
                                    </button>
                                    <button *ngIf="!task.isStopped" class="btnicon" title="stop task"
                                        (click)="stopCounter()">
                                        <fa-icon [icon]="faPause"></fa-icon>
                                    </button>
                                    <span class="timeSpan" (click)="openAccordion(task)">
                                        {{task.time.value}}
                                    </span>
                                </div>
                            </td>
                        </tr>

                        <!-- Arccordion Content -->
                        <ng-container *ngIf="task.accordionOpen">
                            <tr *ngFor="let timeSpan of task.timeSpans" class="trTimeSpans">
                                <td>
                                    <div class="timeSpanRow">
                                        <div>
                                            <div>
                                                <b>start time:</b>
                                            </div>
                                            <div>{{timeSpan.startTime.toLocaleTimeString()}}</div>
                                        </div>
                                        <div>
                                            <div>
                                                <b>end time:</b>
                                            </div>
                                            <div>{{timeSpan.endTime?.toLocaleTimeString() ?? 'none'}}</div>
                                        </div>
                                        <button class="btnicon" (click)="deleteTimeSpan(task, timeSpan)">
                                            <fa-icon [icon]="faXmark"></fa-icon>
                                        </button>
                                    </div>
                                </td>
                                <td class="tdTime">
                                    <div class="tdTimeDiv">
                                        <span class="timeSpan">{{timeS.formatTimeShort(timeSpan.span)}}</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div class="links">
        <a [routerLink]="['LegalNotice']">Legal Notice</a>
        <a href="https://github.com/KopfdesDaemons/tickturtle.com" target="_blank">Github</a>
    </div>
</div>