:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}

h1 {
    text-align: left;
    font-size: 25px;
    margin: 0;
}

.infokachel {
    grid-column-start: 2;
}

.gridNewTask {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-row-start: 2;
    
    span {
        width: 100%;
    }
    
    form {
        display: flex;
        align-items: center;
    }
}

.totalTime {
    grid-row-start: 3;
}

.homeContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    max-width: 80em;
    padding: 7rem 5% 1em 5%;
    min-height: 100vh;
    grid-template-rows: auto auto auto 1fr;
    box-sizing: border-box;
}

.currentTaskGridDiv {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 2;
}

.gridTasks {
    grid-column-start: 2;
    grid-row-start: 3;
    overflow-y: scroll;
    max-height: 60vh;
    margin-bottom: 1em;
    .kachel {
        padding-top: 0;
    }
}

.tasksDiv table {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin-top: 0;
    
    th {
        position: sticky;
        top: 0;
        background-color: var(--hintergrund);
    }
    button {
        height: 100%;
        width: 12px;
    }

    tr {
        background: transparent;
    }

    td {
        border-bottom: 1px solid rgb(228, 228, 228);
        height: 100%;
        padding: 3px;
    }

    tr:hover {
        background-color: var(--hintergrund-variant);

        .deleteBtn{
            visibility: visible;
        }
    }

    .tdDiv{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        span{
            cursor: text;
            flex-grow: 1;
            height: 100%;
            display: inline-flex;
            align-items: center;
        }
    }

    .deleteBtn{
        visibility: hidden;
    }


    .tdTaskName{
        .inputfeld {
            margin: 0;
            flex-grow: 1;
            box-shadow: none;
            height: 100%;
            input {
                all: unset;
                height: unset;
                border-bottom: 3px solid var(--primary-variant-much-brighter);
                width: 100%;
                margin-bottom: -3px; // border abrechnen
            }
        }

        .editDiv {
            flex-grow: 1;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
    
    .tdTime {
        text-align: end;
        width: 15%;
        padding: 0;

        span {
            margin: 4px 0 4px auto;
        }
    }
}

.timeSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hintergrund-variant-darker);
    padding: 10px;
    border-radius: 12px;
    max-width: 40px
}

.currentTaskDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:first-of-type {
        margin-right: auto;
    }

    .timeSpan {
        width: 20%;
    }

    .isStopped {
        background-color: rgb(228, 151, 151);
    }
}

.statistic{
    display: flex;
    justify-content: space-between;

    button{
        margin-top: 24px;
    }
}

.links {
    margin-top: auto;
    
    a {
        text-decoration: none;
        font-weight: 600;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media print, only screen and (max-width: 810px) {
    .homeContainer {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        min-height: unset;
    }
    
    .infokachel {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .currentTaskGridDiv {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .totalTime {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .gridNewTask {
        grid-row-start: 5;
    }

    .gridTasks {
        grid-column-start: 1;
        grid-row-start: 6;
    }
}

@media print {
    .gridNewTask, .currentTaskGridDiv, .infokachel, h1, button, .links {
        display: none;
    }
}