<app-header></app-header>
<div class="homeContainer">
    <h1>Time tracking</h1>
    <div class="infokachel kachel"><span>Record the working time of several work steps and get the total time.</span></div>
    <div class="gridNewTask">
        <span>Add new task:</span>
        <form [formGroup]="newTaskForm" class="kachel">
            <div class="inputfeld" id="newTask">
                <input #newTaskInput formControlName="newTask" type="text" id="newTaskInput" spellcheck="false"
                    placeholder="&nbsp;">
                <label class="placeholder" for="newTaskInput">task name</label>
            </div>
            <button (click)="addTask()" [disabled]="isButtonDisabled">&plus;</button>
        </form>
    </div>

    <div class="statistic">
        <div class="totalTime Kachel"><span>Total time</span><span class="timeSpan">{{ts.getTotalTime()}}</span></div>
        <button (click)="print()">Print</button>
        <button (click)="deleteAllTasks()">Delete all</button>
    </div>

    <div class="currentTaskGridDiv">
        <span *ngIf="ts.getCurrentTask()">Current task:</span>
        <div *ngIf="ts.getCurrentTask()" class="currentTaskDiv kachel">
            <span>{{ts.getCurrentTask()?.name}}</span>
            <button *ngIf="!ts.getCurrentTask()?.isStopped" (click)="stopCounter()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <button *ngIf="ts.getCurrentTask()?.isStopped" (click)="startCounter()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <span class="timeSpan" [class.isStopped]="ts.getCurrentTask()?.isStopped" >{{ts.getCurrentTask()?.time?.value}}</span>
        </div>
    </div>

    <div class="gridTasks">
        <div *ngIf="ts.getTasks().length > 0" class="tasksDiv kachel">
            <table>
                <thead>
                    <th>Task</th>
                    <th>Time</th>
                </thead>
                <tbody>
                    <tr *ngFor="let task of ts.getTasks()">
                        <td class="tdTaskName">
                            <div class="tdDiv">
                                <span [hidden]="task.editMode"
                                    (click)="editModeTaskName(task, $event.currentTarget)">{{task.name}}</span>
                                <div class="editDiv" *ngIf="task.editMode">
                                    <div class="inputfeld">
                                        <input type="text" id="editTaskName" value="{{task.name}}" #editTaskNameInput
                                            (keyup.enter)="editTaskName(task, editTaskNameInput.value)">
                                        <label for="editTaskName"></label>
                                    </div>
                                    <button *ngIf="task.editMode" (click)="editTaskName(task, editTaskNameInput.value)"
                                        class="editBtn">
                                        <fa-icon [icon]="faCheck"></fa-icon>
                                    </button>
                                </div>
                                <button (click)="deleteTask(task)" class="deleteBtn">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                </button>
                            </div>
                        </td>
                        <td class="tdTime">
                            <span class="timeSpan">
                                {{task.time.value}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="links">
        <a [routerLink]="['LegalNotice']">Legal Notice</a>
    </div>
</div>