<app-header></app-header>
<div class="homeContainer">
    <div class="gridNewTask">
        <span>add new task:</span>
        <form [formGroup]="newTaskForm" class="kachel">
            <div class="inputfeld" id="newTask">
                <input #newTaskInput formControlName="newTask" type="text" id="newTaskInput" spellcheck="false" placeholder="&nbsp;">
                <label class="placeholder" for="newTaskInput">Task</label>
            </div>
            <button (click)="addTask()" [disabled]="isButtonDisabled">&plus;</button>
        </form>
    </div>
    <div class="gridTasks">
        <span *ngIf="ts.getCurrentTask()">current task:</span>
        <div *ngIf="ts.getCurrentTask()" class="currentTaskDiv kachel">
            <span>{{ts.getCurrentTask()?.name}}</span>
            <span>{{ts.getCurrentTask()?.time?.value}}</span>
        </div>
        <div *ngIf="ts.getCurrentTask()" class="tasksDiv kachel">
            <table>
                <thead>
                    <th>Task</th>
                    <th>Time</th>
                </thead>
                <tbody>
                    <tr *ngFor="let task of ts.getTasks()">
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                            <span>{{task.name}}</span>
                            </td>
                        <td class="tdTime">{{task.time.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
