@use "farben";

/* rubik-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/rubik-v26-latin-300.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-300.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-300italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/rubik-v26-latin-300italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-300italic.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/rubik-v26-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/rubik-v26-latin-italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-italic.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/rubik-v26-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-500.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/rubik-v26-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-600.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/rubik-v26-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-700.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/rubik-v26-latin-800.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-800.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/rubik-v26-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/rubik-v26-latin-900.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comic Sans */
@font-face {
  font-display: swap;
  font-family: 'Comic Sans MS';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/Comic-Sans-MS.woff2') format('woff2')
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("fonts/quicksand-v29-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("fonts/quicksand-v29-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*#region basics*/
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--body);
}

body {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

h1,
h2,
h3,
a,
p,
span,
table,
label,
div {
  font-family: "Quicksand", sans-serif;
  color: var(--schrift);
}

h1 {
  color: var(--primary-variant-darker);
  font-size: clamp(1.5rem, 5vw, 2rem);
  width: 100%;
  text-align: center;
}

h2,
h3,
.darkmode h2,
.darkmode h3 {
  color: var(--primary-variant-darker);
}

.darkmode a {
  color: rgb(183, 189, 255);
}

.darkmode .rot,
.rot {
  color: red;
}

.variantColor {
  color: var(--primary-variant-darker);
}

/*#endregion*/
/*#region button*/
button {
  all: unset;
  color: rgb(10, 10, 10);
  background-color: var(--primary-color);
  border-radius: 8px;
  margin: 0.2rem;
  padding: 0 15px;
  border: none;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  height: 36px;
  user-select: none;
}

button:hover {
  background-color: var(--primary-variant-much-brighter);
  cursor: pointer;
}

button:disabled {
  background-color: var(--primary-variant-much-brighter);
  cursor: not-allowed;
}

button,
button div,
button span {
  font-family: "Roboto", sans-serif;
}

/*#endregion*/
/*#region buttonoutlined*/
.btnoutlined {
  background-color: transparent;
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-variant-darker);
  user-select: none;
}

.btnoutlined:hover {
  background-color: (var(--primary-variant-much-brighter));
}

.btnoutlined:disabled {
  background-color: var(--hintergrund-inputfeld);
  border-color: #bbbbbb;
  color: #bbbbbb;

}

/*#endregion*/
/*#region buttontext*/
.btntext {
  font-family: inherit;
  background-color: transparent;
  color: var(--primary-variant-darker);
  border: 0;
  box-shadow: none;
  padding: 0 8px;
  user-select: none;
}

.btntext:hover {
  background-color: var(--primary-variant-much-brighter);
}

/*#endregion*/
/*#region buttonicon*/
.btnicon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--hintergrund-variant);
  color: var(--schrift);
}

.btnicon:hover {
  background-color: var(--primary-variant-much-brighter);
}

/*#endregion*/
/*#region Inputfeld*/
.inputfeld {
  position: relative;
  display: inline-flex;
  font-size: 1rem;
  height: 3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0.4rem 0.1rem;
  background-color: inherit;
  box-sizing: border-box;
  overflow: hidden;
}

.inputfeld input {
  font-weight: 500;
  font-size: 1em;
  color: var(--schrift);
  padding: 1em 0.8em 0.5em;
  outline: none;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--schrift);
}

.inputfeld input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: inset 0 0 0 1px var(--hintergrund-inputfeld), inset 0 0 0 100px var(--hintergrund-inputfeld);
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputfeld .placeholder {
  position: absolute;
  margin: 0 0.5em;
  padding: 0 0.5em;
  color: #6c757d;
  display: flex;
  align-items: center;
  font-size: 1em;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.inputfeld .invalid:invalid,
input.ng-dirty.ng-invalid,
.ng-submitted input.ng-invalid {
  border-bottom: 2px solid red;
}

.inputfeld input:not(:placeholder-shown)+.placeholder,
.inputfeld input:focus+.placeholder,
input:-webkit-autofill+.placeholder {
  transform: scale(0.8) translateY(-0.1em);
  height: auto;
  color: var(--primary-color);
}

.inputfeld input:focus {
  border-bottom: 2px solid var(--primary-variant-much-brighter);
}

.inputfeld input:focus+.placeholder {
  color: var(--primary-color);
}

/*#endregion*/
/*#region Radiobutton*/
.radiobuttontogglediv {
  border: 1px solid #d9d9d9;
  display: flex;
  border-radius: 4px;
  overflow: hidden;

  label {
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    user-select: none;

  }

  input {
    display: none;

  }

  input:checked+label {
    background-color: var(--primary-variant-much-brighter);
  }
}

.radiochip {
  label {
    padding: 0.5rem;
    width: 100%;
    background-color: var(--hintergrund-inputfeld);
    border-radius: 6px;
    cursor: pointer;
  }

  input {
    display: none;
  }

  input:checked+label {
    background-color: var(--primary-variant-much-brighter);
  }
}

/*#endregion*/
/*#region select*/
select {
  font-size: 1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0.4em 0.1em;
  border: 1px solid #d9d9d9;
  color: #6c757d;
  border-radius: 0.2rem;
  padding: 0.75rem;
}

select:focus,
select:focus-visible {
  color: #284b63;
  border: 2px solid var(--primary-color);
}

/*#endregion*/
/*#region Tabelle*/
table {
  border-collapse: collapse;
  margin-top: 25px;
  font-size: clamp(0.8rem, 4vw, 1rem);
  border-radius: 10px;
  background-color: var(--hintergrund);
}

table thead tr {
  background-color: transparent;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

th {
  color: var(--primary-variant-darker);
}

tbody tr:nth-of-type(even) {
  background-color: var(--hintergrund-variant-darker);
}

/*#endregion*/
/*#region section*/
section {
  display: flex;
  padding: 0 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectiondiv {
  box-sizing: border-box;
  width: 100%;
  max-width: 80em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
}

.borderdiv {
  border: 1px solid #dadce0;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.darkmode .borderdiv {
  background-color: rgb(22, 24, 28);
  border: 1px solid var(--primary-color);
}

section:first-of-type .sectiondiv {
  margin-top: 5vh;
}

@media only screen and (max-width: 700px) {
  .sectiondiv {
    padding: 0.8em;
  }

  section {
    padding: 0 2%;
  }
}

/*#endregion*/
/*#region images*/
.imageZoomBox {
  overflow: hidden;

  img:hover {
    transform: scale(1.1);
  }

  img {
    transition: all 0.3s linear;
  }
}

/*#endregion*/
/*#region scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-variant-much-brighter);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/*#endregion*/